<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 id="rotatingWord" class="pb-4"><span class="looping-word">Designer</span>: {{ hero_title }}</h1>
                {{ bio_bard }}
                {{ intro_ctas }}
                <a href="{{ cta_url }}" class="btn btn-main me-2">{{ cta_text }}</a>
                {{ /intro_ctas }}
            </div>
        </div>
    </div>
</section>
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title">My Work</h2>
            </div>
            <div class="col-md-12 category-list">
                <div class="row d-flex justify-content-start align-items-start">
                    <div class="col-xs-12 categories"><a data-filter="*" class="btn btn-main active-category">View All</a></div>
                    <div class="col-xs-12 categories"><a data-filter=".web-design" class="btn btn-main">Web Design</a></div>
                    <div class="col-xs-12 categories"><a data-filter=".web-development" class="btn btn-main">Web Development</a>
                    </div>
                    <div class="col-xs-12 categories"><a data-filter=".graphic-design" class="btn btn-main">Graphic Design</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                {{ collection:my_work as="projects" }}
                <div class="row projects">
                    {{ projects }}
                    <div class="grid-item project-card col-xl-4 col-md-6 col-xs-12 {{ work_type }} {{ slug }} {{ /work_type }} pb-4 mb-2">
                        <a href="{{ url }}">
                            <img class="img-fluid mb-3" src="{{ card_image }}" alt="{{ alt }}">
                            <h2>
                                {{ title | widont }}
                            </h2>
                            <p>
                                {{ excerpt | widont ?? card_description | strip_tags | safe_truncate:160:...}} ... <span>See More</span>
                            </p>
                        </a>
                    </div>
                    {{ /projects }}
                </div>
                {{ /collection:my_work }}
            </div>
        </div>
    </div>
</section>
<section id="slogan" style="background-image: url('{{ slogan_background }}');">
    <div class="container">
        <div class="col-sm-12 text-center slogan-content">
            <h2 class="display-1">{{ slogan_text }}</h2>
            <a href="" class="btn btn-alt btn-lg mt-3">Contact Me</a>
        </div>
    </div>
</section>