<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Lato:wght@400;700&family=Roboto:wght@900&display=swap" rel="stylesheet">
        {{# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> #}}
        {{ vite src="resources/css/site.css" }}
    </head>
    <body>
        <div id="particles-js"></div>
            {{ partial:nav }}
            {{ template_content }}
        {{# <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script> #}}
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        {{ vite src="resources/js/site.js" }}
    </body>
</html>
