<section id="projectHero" style="background-color: {{ project_background_color }};">
    <div class="container">
        <div class="col-12 text-center hero-content">
            <img src="{{ card_image }}" alt="{{ alt }}" class="img-responsive">
            <div class="button-container">
                <div>
                    <a href="{{ website_url }}" class="btn btn-alt btn-lg w-100" target="_blank">Visit Website</a>
                </div>
                <div>
                    <a href="{{ homepage }}#work" class="btn btn-alt btn-lg w-100">View All Projects</a>
                </div>
            </div>
        </div>
    </div>
</section>