@import 'bootstrap/dist/css/bootstrap.min.css';
/* Global Styles */
:root {
    --blue: #07A5D2;  /* Blue */
    --dark-grey: #2d2d2d; /* Green */
}

/* NAV */
nav { background: transparent; }
.navbar-brand { color: #fff; font-size: 25px; }
.nav-item:last-child .nav-link { color: orange; }
.nav-link { color: #fff; font-size: 20px;
    &:hover{ color: var(--blue); }
}

body { 
    background-color: #000;
    color: #fff;
    h1, h2, h3, h4, h5, h6 { font-family: 'Roboto1', sans-serif; font-weight: 700 !important; letter-spacing: 1px; }
    h2.title { font-size: 4rem; }
    .btn-main { background-color: #2d2d2d; border: 1px solid #2d2d2d; color: #fff; padding: 10px 25px; 
        &:hover { background-color: var(--blue); border-color: var(--blue); }
    }
    .btn-alt { background-color: transparent; border: 2px solid #fff; color: #fff; padding: 10px 25px; 
        &:hover { background-color: #fff; border-color: #fff; color:#000 }
    }
    p, a, li { font-family: 'Lato', sans-serif; font-size: 16px; }
}
/* HomePage */

#hero { 
    padding: 8em 0em 1em 0em;
    h1 { font-size: 4rem; }
    .looping-word { color: orange; }
    p { font-size: 20px; }
 }

 #work {
    padding: 5% 0;
    .category-list{
        margin-top: 3%;
        padding-bottom: 3%;
        .categories{
            padding: 0 10px;
            width: auto;
            a.active-category{
                background-color: var(--blue);
            }
        }
    }
    .project-card { 
        a {
            text-decoration: none; color: #fff;
            img { border-radius: .25em; }
            p span { color: var(--blue); }
        }
     }
 }

 #slogan {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .slogan-content{
        padding: 20% 0;
        margin: 0 auto;
        text-align: center;
        h1{ color: #fff; }
    }
 }

 /* Project Detail Pages */
 #projectHero {
    margin-top: -64px;
    padding: 0px 0 160px 0px;
    .hero-content { position: relative; left: 0; right: 0; bottom: -280px; max-width: 100%; display: flex; flex-direction: column; align-items: center;  
        .button-container { padding-top: 1rem; width: 500px; display: flex; justify-content: space-between; div { width: 245px; } }
    }
 }